<h1>Pipes Básicos</h1>

<div class="contenedor">
    <div class="contenedor-item">
        <mat-card>
            <!--  -->
            <mat-card-title>UpperCase</mat-card-title>
            <mat-card-subtitle>{{nombre | uppercase}}</mat-card-subtitle>
        </mat-card>
    </div>
    <div class="contenedor-item">
        <mat-card>
            <mat-card-title>LowerCase</mat-card-title>
            <mat-card-subtitle>{{apellidos | lowercase}}</mat-card-subtitle>
        </mat-card>
    </div>
    <div class="contenedor-item">
        <mat-card>
            <mat-card-title>TitleCase</mat-card-title>
            <mat-card-subtitle>{{nombreComleto | titlecase}}</mat-card-subtitle>
        </mat-card>
    </div>
</div>
<h1>PIPES DE FECHAS</h1>
<div class="contenedor">
    <div class="contenedor-item">
        <mat-card>
            <mat-card-title>Fecha</mat-card-title>
            <mat-card-subtitle>{{fecha}}</mat-card-subtitle>
        </mat-card>
    </div>
    <div class="contenedor-item">
        <mat-card>
            <mat-card-title>Fecha shortDate</mat-card-title>
            <mat-card-subtitle>{{fecha | date:'shortDate'}}</mat-card-subtitle>
        </mat-card>
    </div>
    <div class="contenedor-item">
        <mat-card>
            <mat-card-title>Fecha short </mat-card-title>
            <mat-card-subtitle>{{fecha | date:'long'}}</mat-card-subtitle>
        </mat-card>
    </div>
    <div class="contenedor-item">
        <mat-card>
            <mat-card-title>Fecha short </mat-card-title>
            <mat-card-subtitle>{{fecha | date:'long'}}</mat-card-subtitle>
        </mat-card>
    </div>
</div>